* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #1f242d;
}

.coverPhoto {
    width: 100vw;
    max-height: 100vh;
    object-fit: cover;
    padding: 0px;
}

.coverContent {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 50%);
}

.coverTitle {
    color: white;

    /* font-size: 3em; */
    font-size: 10vw;
    font-weight: 400;

    text-align: center;
}

.coverDescription {
    color: white;

    /* font-size: 0.7em; */
    font-size: 2.3vw;
    font-weight: 100;
    text-align: center;
    width: 100vw;
}

.coverDescription2 {
    color: white;

    /* font-size: 0.4em; */
    font-size: 1.5vw;
    font-weight: 100;
    text-align: center;
    width: 100vw;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 120px;

    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 100;

    opacity: 1;

    transition: 0.3s ease-in-out;
}

.heading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 120px;

    /* background-color: #192336; */

    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 100;

    opacity: 1;

    transition: 0.3s ease-in-out;
}

.header-active {
    opacity: 1;
    background-color: #6b6b6b;
    transition: 0.3s ease-in-out;
}

nav {
    flex-wrap: wrap;
}

nav a {
    font-size: 18px;
    /* font-size: 1.2vw; */
    color: #fff;
    text-decoration: none;
    margin: 25px;

    font-weight: 200;
    transition: all 0.3s ease-in-out;
}

nav a:hover {
    color: aqua;
}

nav a.active {
    color: aqua;
    text-decoration: underline;
}

section {
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f242d;
    font-size: 3em;
    color: #fff;
}

/* NEED TO ADJUST SO #HOME TAKES OVER SECTION */
#home {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f242d;
    font-size: 3em;
    color: #fff;
}

section:nth-child(odd) {
    /* background-color: bisque; */
    background-color: #323946;
}

/* ------------------------------------------- */
/* -------------- ABOUT SECTION -------------- */
/* ------------------------------------------- */

.sectionTitle {
    text-align: center;
    padding-top: 10vh;
    padding-bottom: 1vh;
    font-size: 0.5em;
    /* font-size: 1.6vw; */

    /* color: rgb(231, 150, 1); */
    color: aqua;
}

/* "Let me introduce myself" */
.sectionSubtitle {
    text-align: center;
    font-size: 0.7em;
    /* font-size: 2.2vw; */

    padding-bottom: 5vh;

    font-weight: 200;

}

#about {
    display: block;
}

.aboutContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 50vw;

    margin-left: auto;
    margin-right: auto;
}

#dp {
    /* display: block; */

    /* margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%; */

    /* max-width: 300px;
    max-height: 300px; */
    max-width: 20vw;
    max-height: 20vw;

    border-radius: 50%;

    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#aboutText {
    font-size: 0.4em;
    /* font-size: 1.2vw; */
    margin-left: 5vw;
}

/* "Languages and Technologies" */
#subheader {
    text-align: center;
    padding-top: 10vh;
    padding-bottom: 5vh;

    font-size: 0.7em;
    /* font-size: 2.2vw; */

    font-weight: 400;
}

.languagesContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;

    width: 60vw;

    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10vh;
}

.languageItem {
    box-shadow: none;

    transition: all .3s ease-in-out;

    background-color: white;
    /* background-color: orange; */

    border-radius: 5px;

    padding: 10px;
    /* padding: 1vw; */

    margin-bottom: 1vh;
}

.languageItem:hover {
    transform: scale(1.1);
    background-color: orange;
}

/* Text */
.language {
    margin-bottom: 0.5em;
    font-size: 0.2em;
    /* font-size: 0.7vw; */

    text-align: center;
    color: #1f242d;
    /* color: aqua; */

    font-weight: 500;
}

.languageImg {
    max-width: 50px;
    max-height: 50px;
}

/* ------------------------------------------- */
/* ------------ EDUCATION SECTION ------------ */
/* ------------------------------------------- */

#education {
    display: block;
    align-items: center;

    padding-bottom: 7vh;
}

.educationItem {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */

    align-items: center;
    max-width: 50vw;

    margin-left: auto;
    margin-right: auto;
    margin-top: 4vh;
    margin-bottom: 4vh;
}

.educationImg {
    max-width: 250px;
    max-height: 250px;

    vertical-align: middle;

    border-radius: 10%;

    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.infoContainer {
    display: inline-block;
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */

    margin-left: 3vw;

    /* align-items: center; */
}

.itemTitle {
    font-size: 0.8em;
}

.itemDescription {
    font-size: 0.4em;
    /* margin-bottom: 2vh; */
}

/* CONTAINER FOR DETAILS */
.itemDetails {
    display: inline-block;
    /* flex-direction: row;
    width: auto; */
}

/* DETAIL ITEM (ICON + TEXT) */
.detailItem {
    display: flex;
    align-items: center;

    padding-top: 1vh;
}

.detail {
    /* display: inline-block; */
    font-size: 0.3em;
    padding-left: 1vw;
}

.detailIcon {
    max-width: 30px;
    max-height: 30px;

    border: 2px solid orange;
    border-radius: 50%;

    background-color: orange;
}

/* ------------------------------------------- */
/* ----------- EXPERIENCE SECTION ------------ */
/* ------------------------------------------- */

#experience {
    display: block;
    padding-bottom: 10vh;
}

.experienceContainer {
    
}

a {
    text-decoration: none;
    color: white;
}

.experienceItem {
    display: flex;
    flex-direction: row;
    justify-content: center;

    width: 60vw;

    padding: 2vw;

    border-radius: 10px;

    margin-left: auto;
    margin-right: auto;

    margin-bottom: 3vh;

    transition: all 0.3s;
}

.experienceItem:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    background-color: #1f242d;
}

.experienceItem:hover .experienceInfo {
    opacity: 1;
}

.experienceImg {
    max-width: 150px;
    max-height: 150px;

    vertical-align: middle;

    border-radius: 10%;

    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

    margin-right: 2vw;

    z-index: 1;
}

.experienceInfo {
    /* max-width: 40vw; */
}

.experienceTitle {
    font-size: 0.7em;
    z-index: 1;
}

.experiencePosition {
    font-size: 0.5em;
    z-index: 1;
}

.experienceDescription {
    font-size: 0.3em;

    margin-top: 1vh;

    z-index: 1;
}

.skills {
    display: flex;
    flex-direction: row;

    margin-top: 2vh;

    z-index: 1;
}

.skillItem {
    font-size: 0.3em;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;

    /* color: orange;
    background: rgba(255, 165, 0, 0.2); */

    color: aqua;
    background: rgba(0, 255, 255, 0.2);

    border-radius: 30px;
    
    margin-right: 1vw;

    z-index: 1;
}

/* ------------------------------------------- */
/* ------------- PROJECTS SECTION ------------ */
/* ------------------------------------------- */

/*
COLORS
#323946 – lighter
#1f242d - darker
*/

/* MODAL STUFF */

.projectContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    flex-wrap: wrap;

    width: 70vw;

    margin-bottom: 15vh;
}

.projectImg {
    width: 250px;
    height: 250px;

    object-fit: cover;

    vertical-align: middle;

    border: 4px solid white;

    margin-top: 30px;

    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;

}

.imgContainer {
    position: relative;
}

.imgText {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.text {
    color: orange;
    font-size: 0.6em;
    font-weight: 400;
}

.imgContainer:hover .projectImg {
    opacity: 0.2;
}

.imgContainer:hover .imgText {
    opacity: 1;
}

.modalItem {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60vw;
    height: 45vh;
    background-color: #323946;
    color: white;
    box-shadow: 24;
    border-radius: 10px;

    text-align: center;
}

/* PROJECT STUFF */

.projectTitle {
    margin-top: 3vh;
    margin-bottom: 1vh;
    padding-top: 0;
    font-size: 1.7em;
    font-weight: 300;
}

.languageDetails {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.projectLanguage {
    /* background-color: #1f242d; */
    background-color: #1f242d;
    /* color: #f7f4ef; */
    color: orange;

    font-size: 1.0em;
    font-weight: 150;

    margin-top: 0.6em;
    margin-bottom: 1em;
    margin-right: 0.5em;
    margin-left: 0.5em;

    padding: 0.5em;

    border-radius: 5px;

    /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
}

.projectDescription {

    font-size: 0.9em;

    padding: 0;

    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.linkContainer {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.github {
    background-color: #171a1e; /* DARKER THAN DARKER */
    color: #f7f4ef;

    font-size: 1em;
    font-weight: 150;
    text-decoration: none;

    width: 15vw;
    padding: 0.8em;
    margin-right: 0.5em;
    margin-left: 0.5em;

    border-radius: 10px;

    text-align: center;

    transition: all .3s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.github:hover {
    background-color: orange;
    color: #1f242d;
}

.projectLink {
    /* margin-right: 3vw; */
    transition: all .3s ease-in-out;
}

.projectLink:hover {
    transform: scale(1.05);
}

/* ------------------------------------------- */
/* ------------- ACTIVITY SECTION ------------ */
/* ------------------------------------------- */

/* FORMATTING THE MODAL IMAGES */
/* .activitiesContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    flex-wrap: wrap;

    width: 35vw;
} */

.activitiesContainer {
    text-align: center;
    margin-bottom: 12vh;
}

.activityItem {
    margin-bottom: 5vh;
}

.activityTitle {
    color: orange;
    font-size: 0.6em;

    margin-top: 3vh;
    /* margin-left: 2vw; */
}

.activityPosition {
    color: orange;
    font-size: 0.4em;
    font-weight: 200;
}

.descriptionContainer {
    margin-top: 1vh;
    color: white;
    font-weight: 100;
    font-style: italic;
    list-style-type: none;
}

.description {
    /* text-decoration: none; */
    font-size: 0.35em;
}

/* ------------------------------------------- */
/* --------- FOOTER/CONTACTS SECTION --------- */
/* ------------------------------------------- */

.contactTitle {
    text-align: center;
    padding-top: 10vh;
    padding-bottom: 1vh;
    font-size: 0.5em;

    /* color: rgb(231, 150, 1); */
    color: aqua;
}

.contactContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    width: 80vw;

    margin-left: auto;
    margin-right: auto;
    margin-top: 8vh;
    margin-bottom: 20vh;
}

.contactItem {
    text-align: center;
}

.contactImg {
    display: inline;
    margin-left: auto;
    margin-right: auto;

    max-width: 70px;
    max-height: 70px;

    transition: all .3s ease-in-out;
}

.contactImg:hover {
    transform: scale(1.1);
}

.linkText {
    font-size: 0.5em;
    color: white;
}

/*
COLORS
#323946 – lighter
#1f242d - darker
*/

footer {
    background-color: #090c10;
    width: 100vw;
    height: 12vh;


    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.footerText {
    font-size: 0.7em;
    color: grey;
}