* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #1f242d;
}

.coverPhoto {
    width: 100vw;
    max-height: 100vh;
    object-fit: cover;
    padding: 0px;
}

.coverTitle {
    color: white;
    position: absolute;
    top: 12%;
    left: 50%;
    transform: translate(-50%, 50%);

    font-size: 3em;
    font-weight: 400;
    /* word-wrap:break-word; */

    text-align: center;
}

.coverDescription {
    color: white;
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, 50%);

    font-size: 0.7em;
    font-weight: 100;
    text-align: center;
    width: 100vw;
}

.coverDescription2 {
    color: white;
    position: absolute;
    top: 57%;
    left: 50%;
    transform: translate(-50%, 50%);

    font-size: 0.4em;
    font-weight: 100;
    text-align: center;
    width: 100vw;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 120px;

    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 100;

    opacity: 1;

    transition: 0.3s ease-in-out;
}

.heading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 120px;

    /* background-color: #192336; */

    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 100;

    opacity: 1;

    transition: 0.3s ease-in-out;
}

.header-active {
    opacity: 1;
    background-color: #6b6b6b;
    transition: 0.3s ease-in-out;
}

nav a {
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    margin: 25px;

    font-weight: 200;
    transition: all 0.3s ease-in-out;
}

nav a:hover {
    color: aqua;
}

nav a.active {
    color: aqua;
    text-decoration: underline;
}

section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f242d;
    font-size: 3em;
    color: #fff;
}

section:nth-child(odd) {
    /* background-color: bisque; */
    background-color: #323946;
}

/* ------------------------------------------- */
/* -------------- ABOUT SECTION -------------- */
/* ------------------------------------------- */

.sectionTitle {
    text-align: center;
    padding-top: 10vh;
    padding-bottom: 1vh;
    font-size: 0.5em;
    /* color: rgb(231, 150, 1); */
    color: aqua;
}

#about {
    display: block;
}

/* "Let me introduce myself" */
.sectionSubtitle {
    text-align: center;
    font-size: 0.7em;
    
    padding-bottom: 5vh;

    font-weight: 200;

}

.aboutContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 50vw;

    margin-left: auto;
    margin-right: auto;
}

#dp {
    /* display: block; */

    /* margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%; */

    max-width: 300px;
    max-height: 300px;

    border-radius: 50%;

    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#aboutText {
    font-size: 0.4em;
    margin-left: 5vw;
}

/* "Languages and Technologies" */
#subheader {
    text-align: center;
    padding-top: 10vh;
    padding-bottom: 5vh;
    font-size: 0.7em;
    /* color: rgb(231, 150, 1); */

    font-weight: 400;
}

.languagesContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;

    width: 60vw;

    margin-left: auto;
    margin-right: auto;
    padding-bottom: 15vh;
}

.languageItem {
    box-shadow: none;

    transition: all .3s ease-in-out;

    background-color: white;
    /* background-color: orange; */

    border-radius: 5px;

    padding: 10px;
}

.languageItem:hover {
    transform: scale(1.1);
    background-color: orange;
}

/* Text */
.language {
    margin-bottom: 0.5em;
    font-size: 0.2em;
    text-align: center;
    color: #1f242d;
    /* color: aqua; */

    font-weight: 500;
}

.languageImg {
    max-width: 50px;
    max-height: 50px;
}

/* ------------------------------------------- */
/* ------------ EDUCATION SECTION ------------ */
/* ------------------------------------------- */

#education {
    display: block;
    align-items: center;
}

.educationItem {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */

    align-items: center;
    max-width: 50vw;

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4vh;
}

.educationImg {
    max-width: 250px;
    max-height: 250px;

    vertical-align: middle;

    border-radius: 10%;

    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.infoContainer {
    display: inline-block;
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */

    margin-left: 3vw;

    /* align-items: center; */
}

.itemTitle {
    font-size: 0.8em;
}

.itemDescription {
    font-size: 0.4em;
    /* margin-bottom: 2vh; */
}

/* CONTAINER FOR DETAILS */
.itemDetails {
    display: inline-block;
    /* flex-direction: row;
    width: auto; */
}

/* DETAIL ITEM (ICON + TEXT) */
.detailItem {
    display: flex;
    align-items: center;

    padding-top: 1vh;
}

.detail {
    /* display: inline-block; */
    font-size: 0.3em;
    padding-left: 1vw;
}

.detailIcon {
    max-width: 30px;
    max-height: 30px;

    border: 2px solid orange;
    border-radius: 50%;

    background-color: orange;
}

.detailIcon2 {
    max-width: 30px;
    max-height: 30px;

    border: 2px solid black;
    border-radius: 50%;

    background-color: orange;
}

/* .educationItem {
    display: flex;
    flex-direction: row;
    justify-content: center;

    align-items: center;

    padding: 2%;
}

.educationImg {
    max-width: 200px;
    max-height: 200px;

    border-radius: 50%;

    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.schoolContainer {
    display: flex;
    flex-wrap: wrap;
    max-width: 40%;

    margin-left: 5%;
}

.itemTitle {
    margin-bottom: 0px;
    min-width: 200px;

    font-size: 0.7em;
}

.itemDescription {
    margin-top: 1vh;
    margin-bottom: 1vh;

    font-size: 0.4em;
}

.itemDetails {
    display: flex;
    flex-direction: row;
    justify-content: left;

    width: auto;
}

.detail {
    display: inline-block;

    background-color: #07487e;
    background-color: orange;
    color: #f7f4ef;

    width: auto;

    margin-top: 0px;
    margin-right: 2.0em;

    font-size: 0.3em;

    padding: 1.2em;

    border-radius: 50px;

    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
} */